/ {
    aliases {
        app-led = &my_led;
    };

    leds {
        compatible = "gpio-leds";

        my_led: led_0 {
            gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>; // connected led to pin 26 on breadboard
            label = "GPIO26 LED";
        };
    };
};

// esp 32 led app overlay
